<div class="home-cointainer">
    <h1>Veja o que estão compartilhando</h1>
    <!-- form busca-->
    <div *ngIf="moments.length > 0; else noMoments">
        <div class="moments-container"></div>
        <div class="moment" *ngFor="let moment of moments">
            <img src="{{ baseApiUrl }}uploads/{{ moment.image }}"
             alt="{{moment.title}}"
             />

            <h3>{{ moment.title }}</h3>
            <p class="date">Em: {{moment.created_at}}</p>
            <p>Comentarios: {{ moment.comments!.length}}</p>
            <p><a routerLink="moments/{{moment.id}}">Detalhes</a></p>
        </div>
    </div>


<ng-template #noMoments>
    <p>Não há momentos cadastrados!</p>
</ng-template>
</div>